# HWOS - Hacker Web OS
# HackerRUB Bootloader Configuration

set theme=($root)/boot/grub/themes/hackerrub/theme.txt

if loadfont $prefix/fonts/unicode.pf2; then
  set gfxmode=1920x1080
  load_video
  set gfxpayload=keep
fi

insmod gfxterm
insmod gfxmenu
insmod part_gpt
insmod part_msdos
insmod ext2
insmod btrfs
insmod xfs
insmod squash4
insmod loopback
insmod cryptodisk
insmod luks
insmod lvm
insmod chain

set default="0"
set timeout=10
set gfxmode=auto
set gfxpayload=keep

menuentry "HWOS - Hacker Web OS" --class hwos --class arch {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/vmlinuz-linux-6.1 \
    archisobasedir=%INSTALL_DIR% \
    archisolabel=%ARCHISO_LABEL% \
    cow_spacesize=8G \
    rd.luks.options=discard \
    quiet splash loglevel=3 \
    rd.systemd.show_status=false \
    rd.udev.log_level=3
  initrd /%INSTALL_DIR%/boot/intel-ucode.img
  initrd /%INSTALL_DIR%/boot/amd-ucode.img
  initrd /%INSTALL_DIR%/boot/initramfs-linux-6.1.img
}

menuentry "HWOS - Copy to RAM" --class hwos --class ram {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/vmlinuz-linux-6.1 \
    archisobasedir=%INSTALL_DIR% \
    archisolabel=%ARCHISO_LABEL% \
    cow_spacesize=8G \
    cow_label=COW \
    quiet splash loglevel=3 \
    rd.systemd.show_status=false \
    rd.udev.log_level=3 \
    copytoram
  initrd /%INSTALL_DIR%/boot/amd-ucode.img
  initrd /%INSTALL_DIR%/boot/initramfs-linux-6.1.img
}

menuentry "HWOS - Install to Disk" --class hwos --class install {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/vmlinuz-linux-6.1 \
    archisobasedir=%INSTALL_DIR% \
    archisolabel=%ARCHISO_LABEL% \
    cow_spacesize=8G \
    quiet splash loglevel=3 \
    rd.systemd.show_status=false \
    rd.udev.log_level=3 \
    hwos.installer
  initrd /%INSTALL_DIR%/boot/intel-ucode.img
  initrd /%INSTALL_DIR%/boot/amd-ucode.img
  initrd /%INSTALL_DIR%/boot/initramfs-linux-6.1.img
}

menuentry "Boot from existing OS" --class windows --class os {
  insmod ntfs
  insmod chain
  search --no-floppy --set=root --file /EFI/Microsoft/Boot/bootmgfw.efi
  chainloader /EFI/Microsoft/Boot/bootmgfw.efi
}

menuentry "System Information" --class info {
  echo "HWOS - Hacker Web OS"
  echo "Kernel: Linux 6.1 LTS"
  echo "Boot: HackerRUB v1.0"
  echo "---"
  sleep 3
}

menuentry "Reboot" --class reboot {
  reboot
}

menuentry "Shutdown" --class shutdown {
  halt
}
