if loadfont $prefix/fonts/unicode.pf2; then
  set gfxmode=1920x1080
  load_video
  set gfxpayload=keep
fi

insmod gfxterm
insmod gfxmenu
insmod part_gpt
insmod ext2
insmod btrfs
insmod loopback
insmod cryptodisk
insmod luks
insmod lvm
insmod chain

set default="0"
set timeout=10

menuentry "▶ Запустить HWOS" --class hwos {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/vmlinuz-linux-6.1 \
    archisobasedir=%INSTALL_DIR% \
    archisolabel=%ARCHISO_LABEL% \
    cow_spacesize=8G \
    quiet splash loglevel=3
  initrd /%INSTALL_DIR%/boot/intel-ucode.img
  initrd /%INSTALL_DIR%/boot/amd-ucode.img
  initrd /%INSTALL_DIR%/boot/initramfs-linux-6.1.img
}

menuentry "💿 Установить HWOS на диск" --class install {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/vmlinuz-linux-6.1 \
    archisobasedir=%INSTALL_DIR% \
    archisolabel=%ARCHISO_LABEL% \
    cow_spacesize=8G \
    quiet splash loglevel=3 \
    hwos.installer
  initrd /%INSTALL_DIR%/boot/intel-ucode.img
  initrd /%INSTALL_DIR%/boot/amd-ucode.img
  initrd /%INSTALL_DIR%/boot/initramfs-linux-6.1.img
}

menuentry "💾 Загрузить в RAM" --class ram {
  linux /%INSTALL_DIR%/boot/vmlinuz-linux-6.1 \
    archisobasedir=%INSTALL_DIR% \
    archisolabel=%ARCHISO_LABEL% \
    cow_spacesize=8G copytoram \
    quiet
  initrd /%INSTALL_DIR%/boot/amd-ucode.img
  initrd /%INSTALL_DIR%/boot/initramfs-linux-6.1.img
}

menuentry "🔄 Перезагрузка" --class reboot { reboot }
menuentry "⏻ Выключение" --class shutdown { halt }
